{% extends "layout.html" %} {% block content %} {% for route in routes %}


{% if route.flights is defined and route.flights|length > 0%}
<div class="container" align="center" >
    <div class="row">
      <div class="col" style="font-size: 40px;">
        {{route.origin_id}}
    </div>
    <div class="col" style="font-size: 40px;">
            -
    </div>
    
      <div class="col" style="font-size: 40px;">
        {{route.destination_id}}
    </div>
    </div>
  </div>

  <div class="container" align="center">
    <div class="row">
      <div class="col">
        {{route.origin_airport.city}}
    </div>
    <div class="col" style="font-size: 40px;">
    </div>
      <div class="col">
        {{route.destination_airport.city}}
    </div>
    </div>
  </div>


{% for flight in route.flights %}
<table class="table table-striped">
  <tr>
    <th>Flight No.</th>
    <th>Airplane No.</th>
    <th>Departure Time</th>
    <th>Reserved Seats</th>
    <th>Seat Price</th>
    <th>Max Capacity</th>
    <th></th>
  </tr>
  <td>{{flight.id}}</td>
  <td>{{flight.airplane_id}}</td>
  <td>{{flight.departure_time}}</td>
  <td>{{flight.reserved_seats}}</td>
  <td>{{flight.seat_price}}</td>
  <td>{{flight.airplane.airplane_type.max_capacity}}</td>
  <td><a class="button" href="/airlines/find/flight/id={{flight.id}}"> Book </a></td>
</table>

{% endfor %}
{% endif %}


{% endfor %} {% endblock content %}