

{% extends "layout.html" %} {% block content %} 

<div class="container" align="center">
    <div class="row">
        <div class="col" style="font-size: 40px;">
          <h1> Origin </h1>
      </div>
      <div class="col" style="font-size: 40px;">   
      </div>
      
        <div class="col" style="font-size: 40px;">
        <h1> Destination </h1>
      </div>
      <div class="col" style="font-size: 40px;">   
      </div>
      </div>

</div>

{% for route in routes %}



<div class="container" align="center" style="background-color: lightblue;">
    <div class="row" >
      <div class="col" style="font-size: 40px; background-color: lightblue">
        {{route.origin_id}}
    </div>
    <div class="col" style="font-size: 40px; background-color: lightblue">
        ➤
    </div>
    
      <div class="col" style="font-size: 40px; background-color: lightblue">
        {{route.destination_id}}
    </div>
    <div class="col" style="font-size: 35px; background-color: lightblue">
        <button type="button" class="btn btn-primary" style="position: relative; bottom: 0px;"> Select </button>
        
    </div>
    </div>
  </div>

  <div class="container" align="center">
    <div class="row">
      <div class="col">
        {{route.origin_airport.city}}
    </div>
    <div class="col" style="font-size: 40px;">
    </div>
      <div class="col">
        {{route.destination_airport.city}}
    </div>
    <div class="col" style="font-size: 40px;">
    </div>
    </div>
  </div>


{% endfor %} {% endblock content %}